.capa .full-screen {
    min-height: 86vh;
    padding: 50px 0;
}

/* .capa .texto-capa,
    .sobre .texto-sobre,
    .projetos,
    .habilidades,
    .contato,
    .footer {
        transform: 1s;
    } */

.capa .texto-capa {
    letter-spacing: 2px;
    flex: 2;
}

.capa .texto-capa p {
    margin-bottom: 15px;
    font-size: var(--fonte-normal);
    font-family: var(--fonte-primaria);
    font-weight: 500;
}

.capa .texto-capa h1 {
    margin-bottom: 15px;
    font-size: var(--fonte-gigante);
    font-family: var(--fonte-primaria);
    font-weight: 700;
}

.capa .texto-capa h2,
.secao-titulo {
    margin-bottom: 30px;
    font-size: var(--fonte-extra-grande);
    font-family: var(--fonte-primaria);
    font-weight: 700;
}

.secao-titulo {
    margin-top: 50px;
}

.secao-titulo::after {
    content: "";
    display: block;
    position: relative;
    top: 15px;
    height: 2px;
    background-color: var(--cor-primaria-clara);
}

.capa .texto-capa .descricao-capa,
.sobre .texto-sobre .sobre-container {
    margin-bottom: 100px;
    transition: 1s;
    font-size: var(--fonte-normal);
    font-family: var(--fonte-primaria);
    font-weight: 500;
}

.capa .texto-capa,
.capa .imagem-capa,
.sobre .texto-sobre,
.sobre .imagem-sobre,
.projetos .projeto-card{
    flex: 0 0 50%;
    max-width: 50%;
}

.capa .imagem-capa{
    color: var(--cor-primaria-clara);
}

.botao-capa,
.botao-sobre{
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--cor-cinza-escuro);
    padding: 10px 20px;
    transition: 0.2s;
    background-color: var(--cor-primaria);
}

.botao-capa:hover,
.botao-sobre:hover{
    font-weight: 700;
    color: #fff;
}


/*   SOBRE   */

.texto-sobre p{
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.sobre .imagem-sobre{
    position: relative;
    margin: auto;
}

.sobre .imagem-sobre .img-box{
    border: solid 3px var(--cor-primaria);
    
    
    margin: auto;
    border-radius: 2%;
    min-height: 305px;
    max-width: 230px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sobre .imagem-sobre .img-box img{
    border-radius: 2%;
    min-height: 300px;
    max-width: 225px;

    transition: all 0.3s ease;

    display: flex;
    align-items: center;    
}

.sobre .imagem-sobre .img-box img:hover{
    position: absolute;
    left: -12px;
    top: -12px;
}



/*   PROJETO   */


.projeto-card .projeto-card-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 20px;
    
    background-color: #fff;
    
    position: relative;
}

.projeto-card .projeto-card-container img{
    width: 100%;
    margin-bottom: 30px;
}

.projetos .projeto-card .projeto-info{
    position: absolute;
    bottom: 50px;
}

.projetos .projeto-card .projeto-titulo{
    font-size: var(--fonte-extra-grande);
    font-family: var(--fonte-primaria);
    font-weight: 700;
}




.projetos .projeto-card .projeto-descricao{
    font-size: var(--fonte-normal);
    font-family: var(--fonte-primaria);
    font-weight: 500;

    position: absolute;

}

.projetos .projeto-card .projeto-detalhes{
    display: none;
}

.projetos .projeto-card .projeto-detalhes:hover{
    display:contents;
}

.footer{
    background-color: var(--cor-preto);
    padding: 70px 0 50px 0;

    text-align: center;
}

.footer p {
    margin:30px auto;
}

.footer p a{
    font-family: var(--fonte-primaria);
    font-size: 1.6rem;
    color: #8f9aa7;
}
.contato-infos{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.contato-icon{
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-branca);

    margin: 10px;
    
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: 0.2s;
    
}

.contato-icon:hover{
    color: var(--cor-primaria);
    font-size: large;
}

/* .contato-icon a i{
    box-shadow: 3px 3px #2f2f30, -3px -3px 3px #5c5959;
} */

@media(max-width: 650px){
    .capa .full-screen, 
    .sobre .full-screen{
        min-height: 50vh;
    }

    .capa .texto-capa,
    .sobre .texto-sobre,
    .projetos .projeto-card,
    .habilidades,
    .contato,
    .footer {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }

    .capa .imagem-capa{
        display: none;
    }

    .capa .texto-capa .descricao-capa,
.sobre .texto-sobre .sobre-container {
    margin-bottom: 50px;
}

    .capa .texto-capa h2 {
        margin-bottom: 30px;
        font-size: var(--fonte-grande);
        font-family: var(--fonte-primaria);
        font-weight: 700;
    }

    .sobre .texto-sobre{
        margin-bottom: 30px;
    }
    .sobre .imagem-sobre{
        margin: 30px auto;
        max-width: 90%;
    }

    .secao-titulo{
        font-size: var(--fonte-grande);
        margin-bottom: 50px;
    }

    .projetos-links {
        text-align: center;
        padding: 20px;
        display: block;
    }
   
    .projeto-card{
        max-width: 100%;
    }

    .projeto .row{
        flex-direction: column;
    }
}

@media(max-width: 310px){
    .botao-capa,
    .botao-sobre{
    font-size: 1.4rem;
    }

    .botao-capa:hover,
    .botao-sobre:hover{
    font-size: 1.6rem;
    }
}