@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');


*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}




a:hover{
    user-select: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-betweeen {
    justify-content: space-between;
}

.alinhar-itens-no-centro {
    align-items: center;
}

.container{
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;

}


.projetos-links{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left; 
    margin-top: 50px;  
    
}


.projetos-links a{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    margin: 0 10px;
    text-align: center;

    transition: all 0.3s ease;
    
    
}

.projetos-links a i{
    color: var(--cor-branca);
    line-height: 40px;    
}

.projetos-links .icone{
    color: var(--cor-branca);
    font-size: 2.0rem;
    transition: all 0.3s;
}

.projetos .projetos-links .icone{
    color: var(--cor-secundaria);
    font-size: 2.0rem;
}

.projetos-links .icone:hover{
    color: var(--cor-primaria);
    font-size: 1.8rem;   
}


.outer-shadow {
    box-shadow: 3px 3px #2f2f30, -3px -3px 3px #5c5959;
}

.inner-shadow {
    box-shadow: inset 3px 3px #2f2f30, inset -3px -3px 3px #5c5959;
}

.fundo-claro{
    background-color: var(--cor-branca);
    padding: 50px 0 50px 0;
    
    color: var(--cor-cinza-escuro);
}

.secao-titulo {
    margin: 50px 0;
    padding: 100px 0 100px 0;
}

.secao-titulo::after {
    content: "";
    display: block;
    position: relative;
    top: 15px;
    height: 2px;
    background-color: var(--cor-primaria-clara);
}

@media(max-width: 650px){
    .secao-titulo {
        padding: 30px 0 30px 0;
    }
}