:root {
    --cor-primaria: #F2A30F;
    --cor-secundaria: #377015;
    --cor-primaria-clara: #f2a30f85;
    --cor-cinza-claro:  #595959;
    --cor-cinza-escuro: #353535;
    --cor-branca: #F2F2F2;
}

:root{
    --fonte-primaria: 'Inconsolata', monospace;
    --fonte-secundaria:'Roboto Mono', monospace;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
}

:root{
    --mobile-padding: 30px;
}